body{
	background-color: lightgreen;
	font-family: verdana;
	font-style: italic;
	background-position: center;

}

h1{
	font-family: verdana;
	color: blue;
}

@media(max-width: 60px){
	.facet_sidebar{
		display:none;
	}
}

p{
	font-style: italic;
	font-family: comic sans;
	font-size: 18;
}